<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Solnet dashboard</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css" />
  <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/ripples.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="solnetDashboardApp">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>

<div ng-controller="layoutCtrl" class="container-fluid display-table">
  <div class="row display-table-row">
    <div class="col-xs-2 display-table-cell v-align box sol-navigation">
      <div class="logo">
        <a href="https://solnet.co.nz/" target="_blank">
          <img src="images/logo.png" alt="Logo">
        </a>
      </div>

      <div class="navi">
        <ul>
          <li ng-class="{active:isActive('/')}"><a href="#/"><i class="fa fa-home" aria-hidden="true"></i><span
            class="hidden-xs hidden-sm">Home</span></a>
          </li>
          <li ng-class="{active:isActive('/timemanagement')}"><a href="#/timemanagement"><i class="fa fa-tasks"
                                                                                            aria-hidden="true"></i><span
            class="hidden-xs hidden-sm">Time management</span></a>
          </li>
          <li ng-class="{active:isActive('/inbox')}"><a href="#/inbox"><i class="fa fa-bar-chart"
                                                                          aria-hidden="true"></i><span
            class="hidden-xs hidden-sm">Inbox</span></a></li>
          <li ng-class="{active:isActive('/calendar')}"><a href="#/calendar"><i class="fa fa-user"
                                                                                aria-hidden="true"></i><span
            class="hidden-xs hidden-sm">Calendar</span></a>
          </li>
          <li ng-class="{active:isActive('/analytics')}"><a href="#/analytics"><i class="fa fa-calendar"
                                                                                  aria-hidden="true"></i><span
            class="hidden-xs hidden-sm">Analytics</span></a></li>
          <li ng-class="{active:isActive('/settings')}"><a href="#/settings"><i class="fa fa-cog"
                                                                                aria-hidden="true"></i><span
            class="hidden-xs hidden-sm">Settings</span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="row row-fluid">
        <header>
          <div class="col-xs-6">
            <div class="row">
              <div class="col-xs-1">
                <i class="material-icons">search</i>
              </div>
              <div class="col-xs-11 pull-right">
                <div class="search">
                  <input placeholder="Search" ng-model="selected"
                         uib-typeahead="search for search in typeAheadItems | filter:$viewValue | limitTo:8"
                         type="text">
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 pull-right">
            <div class="row">
              <div class="col-lg-1 pull-right">
                <i class="material-icons common-margin">perm_identity</i>
              </div>

              <div class="col-lg-11 pull-right common-margin">
                <ul class="nav navbar-nav pull-right">
                  <ul>
                    <li class="dropdown">
                      <a href="javascript:void(0)" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Change
                        portfolio (Load another dataset)
                        <b class="caret"></b></a>
                      <ul class="dd-mods dropdown-menu">
                        <li><a ng-click="loadAnotherPortfolio('moc-data/dashboardMockAnother.json')"
                               href="javascript:void(0)">Portfolio data 1</a></li>
                        <li><a ng-click="loadAnotherPortfolio('moc-data/dashboardMock.json')" href="javascript:void(0)">Portfolio
                          data 2</a></li>
                      </ul>
                    </li>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </header>
      </div>
      <div ng-view></div>
    </div>
  </div>
</div>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
<script src="bower_components/bootstrap-material-design/dist/js/material.js"></script>
<script src="bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!-- endbower -->
<!-- endbuild -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.0/Chart.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/angular.chartjs/1.0.0/angular-chart.js" type="text/javascript"></script>


<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/layout.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/timemanagement.js"></script>
<script src="scripts/controllers/analytics.js"></script>
<script src="scripts/controllers/calendar.js"></script>
<script src="scripts/controllers/inbox.js"></script>
<script src="scripts/controllers/settings.js"></script>
<script src="scripts/services/solnetdashboardcommon.js"></script>
<script src="scripts/services/solnetdashboardlocaldata.js"></script>
<!-- endbuild -->

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


</body>
</html>
